README_star_maps.txt
galaxies_star_maps.hdf5
illustris_1_xy_all.fits
illustris_1_xy_cen.fits
illustris_1_xy_cen_ellip_1.bin
illustris_1_xy_cen_ellip_1.fits
illustris_1_xy_cen_ellip_1.par
illustris_1_xy_cen_ellip_1.pkl
illustris_1_xy_cen_ellip_1.tab
illustris_1_xy_cen_ellip_2.bin
illustris_1_xy_cen_ellip_2.fits
illustris_1_xy_cen_ellip_2.par
illustris_1_xy_cen_ellip_2.pkl
illustris_1_xy_cen_ellip_2.tab
illustris_1_xy_cen_ellip_3.bin
illustris_1_xy_cen_ellip_3.fits
illustris_1_xy_cen_ellip_3.par
illustris_1_xy_cen_ellip_3.pkl
illustris_1_xy_cen_ellip_3.tab
stellar_maps.py
